.App {
    font-family: "Ubuntu", Arial, sans-serif;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    background: linear-gradient(to right,#e4f4ec,#d0e1d8,#b4deca,#cae2d7);
}

.navbar {
    background: rgba(221, 221, 222, 0.737);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: #9ecbcd;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #8686dc;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #d5d3ea;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.2);
}

.navbar-toggler-icon {
    background-color: #e6e6ec;
}

.navbar .nav-link {
    font-size: 1rem;
    color: #495057;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #c8c7df;
}

.navbar .nav-link.active {
    color: #c0beda;
    font-weight: bold;
}

/* Buttons */
button,
.nav-link {
    font-family: "Ubuntu", sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover,
.nav-link:hover {
    transform: translateY(-2px);
    text-decoration: none;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    color: #6c757d;
    background: rgba(0, 0, 0, 0.05);
}